/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	height: 45px;
	width: 300px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background-color: #A9A9A9;
}

h1{
	position: relative;
	top:-3px;
}

.head-bar img{
	position: relative;
	top: 7.5px;
	left: -115px;
}

.back-button{
	position: relative;
	left:-130px;
	top: 10px;
}

.back-button button{
	position: relative;
	left: 13px;
	width: 55;
}


/* 
	Albums 
			*/
.albums-album-wrapper {
	margin-top: 20px;
	height: 190px;
	width: 150px;
	float: left;
	text-align: center;
}

.albums-album-wrapper img{
	height:130px; 
	width:130px;
}

h2{ 
	font-size: 14px;
	font-weight: 550;
}

h3{
	font-size: 13px;
	font-weight: 545;
	font-style: italic;
	line-height: 0px;
}


/* 
	Songs 
			*/
.songs-album-art {
	height: 130px;
	width:140px;
	position: relative;
	top: 5px;
	left: 5px;
}

.songs-album-name {
	height: 130px;
	width:160px;
	position: relative;
	top: -130px;
	right: -160px;
}

h4{
	font-weight: 550;
	font-size: 20px;
	line-height: 10px;
}

h5{
	font-weight: 500;
	font-size: 20px;
	line-height: 0px;
	font-style: italic;
}

h6{
	font-weight: 500;
	font-size: 20px;
	line-height: 0px;
}

.songs-list {
	position: relative;
	top: -130px;
	left: -10px;
	font-weight: 540;
	text-indent: 10px;
}

li{
	border: 1px solid grey;
	margin-top: 5px;
}

.songs-link{
	color: pink;
}



/* 
	Player 
			*/
.player-album-art {
	position: relative;
	left: 20px;
	top: 20px;
}

.player-song-info {
	text-align: center;
	color: #A9A9A9;
}

#player-song-name {
	position: relative;
	top: 15px;
	font-size: 20;
	color: black;
}

.song-control{
	position: relative;
	top: -15px;
}

.volume-bar{
	position: relative;
	right: -85px;
}

#bar-length{
	width: 260px;
	position: relative;
	left: -67px;
}

#play-time{
	position: relative;
	right: -20px;
}

#whole-time{
	position: relative;
	right: -247px;
	top: -22px;
}

.volume-down {
	position: relative;
	top: -57px;
	right: -35px;
}

.volume-control{
	position: relative;
	top: -10px;
}

.volume-level {
	position: relative;
	left: 63px;
}

#vl0{
	height: 6px;
	width: 24px;
	border: 1px solid black;
}

#vl1{
	height: 6px;
	width: 24px;
	border: 1px solid black;
	position: relative;
	left: 30px;
	top: -8px;
}

#vl2{
	height: 6px;
	width: 24px;
	border: 1px solid black;
	position: relative;
	left: 60px;
	top: -16px;
}

#vl3{
	height: 6px;
	width: 24px;
	border: 1px solid black;
	position: relative;
	left: 90px;
	top: -24px;
}

#vl4{
	height: 6px;
	width: 24px;
	border: 1px solid black;
	position: relative;
	left: 120px;
	top: -32px;	
}

#vl5{
	height: 6px;
	width: 24px;
	border: 1px solid black;
	position: relative;
	left: 150px;
	top: -40px;	
}

.volume-rocker {
	
}

.player-controls{
	position: relative;
	left: 85px;
	top: -25px;
}

#player-time {
	
}

#time-elapsed {
	
}

#time-total{
	
}

.buttons{
	position: relative;
	top: -80px;
	;
}

#volDown{
	position: relative;
	right: -20px;
	width: 100px;
	border-radius: 4px;
	background-color: #e7e7e7; 
	color: black;
}

#volUp{
	position: relative;
	right: -70px;
	width: 100px;
	border-radius: 4px;
	background-color: #e7e7e7; 
	color: black;
}