.text-wrap {
  white-space: normal;
}

.center-block {
	float: left;
	position: relative;
	margin-top: 10px;
}

img {
	width: 140px;
	height: 140px;
}

.container{
	position: relative;
	bottom: -90px;
}

.material-icons{
	position: relative;
	bottom: -40px;
}

.card-text {
	width: 150px;
	height: 150px;
	vertical-align: middle;
	text-align: center;
}
.card-text div {
	position: relative;
	margin-top: 55px;
	font-size: 25px;	
}

.btn {
	height: 50px;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	font-size: 20px;
}
