body{
	font-family: Roboto;
	background: #1A2980;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.inline{
	color: grey;
	text-decoration: line-through;
}

.fa-pencil-alt{
	float: right;
}

h1{
	margin: 0;
	background: #2980b9;
	padding: 10px 20px;
	color: white;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

input{
	width: 100%;
	color: #2980b9;
	font-size: 18px;
	background-color: #f7f7f7;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	border: 3px solid #2980b9;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background: #f7f7f7;
}

li:hover span{
	width:40px;
	opacity: 1.0;
}

span{
	background: #e74c3c;
	color: white;
	height: 40px;
	width: 0;
	margin-right: 20px;
	text-align: center;
	display: inline-block;
	transition: 0.5s;
	opacity: 0;
}